body {
    padding-left: 20px;
}

.city {
    margin: 5px;

}

#title-row {
    font-size: 32px;
    color: indigo;
    font-weight: bolder;
}

#callOut {
    color: hotpink;
    font-weight: bold;
}


