body {
    padding-left: 20px;
}

#gifs-div {
   
}

#add-box {

}

#city-form {
 
}

#button-row {
}

.city {
    margin: 5px;

}

#title-row {
    font-size: 32px;
    color: indigo;
    font-weight: bolder;
}

